{% extends 'core/components/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Categorias
{% endblock title %}

{% block css %}

<style>
    .square {
        width: 100vw;
        height: 100vh;
    }

    #edit:hover{
        color: rgb(97, 128, 231);
    }

    #delete{
        color:rgb(221, 90, 90)
    }
    #delete:hover{
        color:red
    }
</style>

{% endblock css %}


{% block content %}

<div class="square d-flex align-items-center d-flex justify-content-center">
    <div> 
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h2 style="margin: 0px;">Categorias</h2>
                        <small><a class="text-decoration-none" href="{% url 'core:list_transaction' %}">Lista de
                                Transações</a></small>
                    </div>

                    <div class="col-md-2">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary btn-lg" title="Adicionar Categoria">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>

                    </div>
                </div>

            </div>
            <div class="card-body" >


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">TÍTULO</th>
                            <th class="text-center" scope="col">STATUS</th>
                            <th class="text-center" scope="col">EDITAR</th>
                            <th class="text-center" scope="col">REMOVER</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr>
                            <td class="text-center" ><b>{{ category.name|upper }}</b></td>
                            <td class="text-center"> 
                                {% if category.is_active %} 
                                    <span class="badge badge-success">ATIVO</span>
                                {% else %} 
                                    <span class="badge badge-danger">INATIVO</span>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a class="text-dark" href="#">
                                    <i class="fas fa-edit" id="edit"></i>
                                </a>
                            </td>

                            <td class="text-center">
                                <a class="text-dark" href="#">
                                    <i class="fas fa-trash-alt" id="delete" ></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>




            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination rounded">
                    <li class="page-item  {% if page_obj.has_previous == False %} disabled {% endif %}">
                        <a class="page-link" style=""
                            href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }} {% else %} # {% endif %}">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </li>

                    {% with ''|center:page_obj.paginator.num_pages as range %}
                    {% for _ in range %}
                    <li class="page-item {% if forloop.counter == page_obj.number %} active {% endif %}">
                        <a class="page-link" href="?page={{ forloop.counter}}" style="color: rgb(0, 0, 0);">
                            {{ forloop.counter}}
                        </a>
                    </li>
                    {% endfor %}
                    {% endwith %}

                    <li class="page-item  {% if page_obj.has_next == False %} disabled {% endif %}">
                        <a class="page-link"
                            href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }} {% else %} # {% endif %}">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>


</div>


{% endblock content %}