{% extends 'core/components/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Transação
{% endblock title %}


{% block css %}
<style>
    .add-category {
        background-color: transparent;
        color: blue;
        border: none;
        outline: none;
    }

    .add-category:focus {
        border: none;
        outline: none;
    }

    .add-category:hover {
        text-decoration: underline;
    }

    
</style>
{% endblock css %}



{% block content %}



<div class="alert alert-success alert-dismissible fade show" role="alert" id="div-alert">
    <p id="message_success"></p>
    
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>







<form action="" method="POST">
    {% csrf_token %}
    <div class="d-flex align-items-center d-flex justify-content-center" style="width: 100vw; height: 100vh;">


        <div class="card shadow  mb-3 bg-white rounded">
            <div class="card-header">
                <div class="d-flex justify-content-center">
                    <h3 class="text-dark" style="font-family: 'Cairo', sans-serif;">Adicionar Transação</h3>
                </div>
            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col">
                        <b>{{form.title.label}}:</b>
                        {% render_field form.title class+="form-control" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b>{{form.value.label}}:</b>
                        {% render_field form.value class+="form-control" %}
                    </div>

                    <div class="col">
                        <b>{{form.date_trasaction.label}}:</b>
                        {% render_field form.date_trasaction class+="form-control"  type='date' %}
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <b>{{form.category.label}}:</b>
                        {% render_field form.category class+="form-control" %}
                        <small>
                            <button type="button" class="add-category" data-toggle="modal"
                                data-target="#adicionar_categoria">
                                Adicionar categoria
                            </button>
                        </small>

                    </div>


                </div>

                <div class="row">
                    <div class="col">
                        <b>{{form.description.label}}:</b>
                        {% render_field form.description class+="form-control" rows="3"  %}
                    </div>

                </div>


            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-outline-secondary btn-block"
                                href="{% url 'core:list_transaction' %}">VOLTAR</a>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-success btn-block" type="submit">ADICIONAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>


<form action="" id="formCreateCategory" method="POST">

    {% csrf_token %}

    <div class="modal fade" id="adicionar_categoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h4 class="modal-title text-dark" id="exampleModalLabel" style="font-family: 'Cairo', sans-serif;">
                        Adicionar Categoria</h4>
                </div>
                <div class="modal-body">

                    <label for="id_name"><b>Nome:</b></label>
                    <input class="form-control" type="text" name="name" maxlength="50" required="" id="id_name"
                        placeholder="Ex.: Roupas, Sapatos, Medicamento ...">

                    <small class="" id="error_category" style="margin-top: 5px;display:none;color: #ED2939;">

                    </small>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-block" type="button" id="buttonCreateCategory">ADICIONAR</button>

                    <button type="button" id="buttonCloseModal" class="btn btn-outline-secondary btn-block"
                        data-dismiss="modal">VOLTAR</button>
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock content %}



{% block extra_js %}

<script src="{% static 'core/js/createCategory.js' %}"></script>


{% endblock extra_js %}