{% extends 'core/components/base.html' %}
{% load widget_tweaks %}

{% block title %}
Lista de Transações
{% endblock title %}

{% block css %}

<style>
    #title_label {
        transition: background-color .9s;
    }

    #title_label:hover {
        background-color: rgb(228, 226, 226);
        
    }
</style>

{% endblock css %}

{% block content %}

<div class="d-flex justify-content-end">



    <!-- Default dropleft button -->
    <div class="btn-group dropleft">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Menu
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item disabled" href="#" style="align-items: center; text-align: center;">

                {{request.user.username|upper}}
            </a>
            <hr>
            <a class="dropdown-item" href="{% url 'core:create_transaction' %}">Adicionar Transação</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</div>





<div class="container">
    <div class="card shadow-sm rounded">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h3>
                    <a class="text-dark" href="{% url 'core:list_transaction' %}">Lista de Transações</a>
                </h3>

                <form method="GET">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8" style="padding: 0px;">



                            <input class="form-control" type="text" placeholder="Buscar por título ..." name="id_search"
                                type="search">
                        </div>
                        <div class="col-md-3" style="padding: 0px;">
                            <button class="btn btn-light" style="background-color: rgb(133, 88, 165); color: white;">
                                <i class="fas fa-search-dollar"></i>
                            </button>
                        </div>
                    </div>

                </form>
                <!-- <a href="{% url 'core:list_transaction' %}">Limpar</a> -->
            </div>
        </div>
        <div class="card-body" style="padding: 0px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Título</th>
                        <th class="text-center" scope="col">Valor(R$)</th>
                        <th class="text-center" scope="col">Categoria</th>
                        <th class="text-center" scope="col">Remover</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}

                    <tr>
                        <td class="text-center" id="title_label">
                            <a class="text-dark" href="{% url 'core:update_transaction' transaction.pk %}">
                                {{transaction.title}}
                            </a>
                        </td>

                        <td class="text-center"> {{transaction.value}}</td>
                        <td class="text-center">{{transaction.category}}</td>
                        <td class="text-center"><a class="btn btn-danger btn-lg" style=""
                                href="{% url 'core:delete_transaction' transaction.pk %}">
                                <i class="fas fa-trash-alt"></i></a></td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

<br>
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination rounded">
            <li class="page-item  {% if page_obj.has_previous == False %} disabled {% endif %}">
                <a class="page-link"  style=""
                    href="{% if page_obj.has_previous %} ?page={{ page_obj.previous_page_number }} {% else %} # {% endif %}">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </li>

            {% with ''|center:page_obj.paginator.num_pages as range %}
            {% for _ in range %}
            <li class="page-item {% if forloop.counter == page_obj.number %} active {% endif %}" >
                <a class="page-link" href="?page={{ forloop.counter}}" style="color: rgb(0, 0, 0);">
                    {{ forloop.counter}}
                </a>
            </li>
            {% endfor %}
            {% endwith %}

            <li class="page-item  {% if page_obj.has_next == False %} disabled {% endif %}">
                <a class="page-link"
                    href="{% if page_obj.has_next %} ?page={{ page_obj.next_page_number }} {% else %} # {% endif %}">
                    <i class="fas fa-arrow-right"></i>
                </a>
            </li>
        </ul>
    </nav>

</div>

{% endblock content %}