{% extends 'core/components/base.html' %}

{% block title %}
LOGIN
{% endblock title %}

{% block content %}


<div class="d-flex align-items-center d-flex justify-content-center" style="width: 100vw; height: 100vh;">

<div class="d-flex justify-content-center">

    <div class="shadow p-3 mb-5 bg-white rounded"
        style="background-color: white;border: 1px solid rgb(0, 0, 0); padding: 1vw; border-radius: 10px;">
        <div class="d-flex justify-content-center">
            <h6>OLÁ, SEJA BEM-VINDO !</h6>
        </div>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <button class="btn btn-primary btn-block" type="submit">LOGIN</button>
            <a class="btn btn-secondary btn-block" href="{% url 'accounts:create_client' %}">Cadastrar Usuário</a>
        </form>
    </div>
</div>

</div>




{% endblock content %}