{% extends 'core/components/base.html' %}
{% load widget_tweaks %}

{% block title %}
Control Transaction
{% endblock title %}

{% block css %}

{% endblock css %}




{% block content %}


{% if form.errors %}

    <div class="d-flex justify-content-center">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="position: fixed; margin-top: 2vh;">
            {% for error in form.non_field_errors %}
                <b>{{ error|escape }}</b>
            {% endfor %}
        </div>
    </div>

{% endif %}


<div class="d-flex align-items-center d-flex justify-content-center" style="width: 100vw; height: 100vh;">



    <div class="shadow p-3 mb-5 bg-white rounded">


        <div class="" style="background-color: white; padding: 20px; border-radius: 20px;">
            <div class="d-flex justify-content-center">
                <h4 class="text-dark" style="font-family: 'Cairo', sans-serif;">OLÁ, SEJA BEM-VINDO !</h4>
            </div>
            <hr>
            <form action="" method="POST">
                {% csrf_token %}
                <b>
                    {{form.username.label}}
                </b>
                {% render_field form.username class+="form-control" placeholder="Digite seu login ..." style="margin-top:6px; margin-bottom: 5px;" %}



                <b>
                    {{form.password.label}}
                </b>
                {% render_field form.password class+="form-control" placeholder="Digite sua senha ..." style="margin-top:6px;"%}




                <br>

                <button class="btn btn-success btn-block" style="border-radius: 0px;" type="submit">ENTRAR</button>



                <a class="btn btn-outline-secondary btn-block" href="{% url 'accounts:create_client' %}"
                    style="border-radius: 0px;">CADASTRE-SE</a>
            </form>
        </div>
    </div>

    <div>

    </div>

</div>

{% endblock content %}