.button-info{
    background-color: transparent;
    border: none;
    outline:none;
    
}


.button-info:focus{
    border: none;
    outline:none;   
}

.icon-info{
    transition: scale .6s;
}

.icon-info:hover{
    color: rgb(102, 101, 101);
    transform: scale(1.2);
}